<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075336169215-2gt42dqldq0grpujo9i8naondjbdormt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075336169215-2gt42dqldq0grpujo9i8naondjbdormt</string>
	<key>API_KEY</key>
	<string>AIzaSyA0kqBAyERlqp3Gyd-hxcbvwjAR9MyKlW0</string>
	<key>GCM_SENDER_ID</key>
	<string>1075336169215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diego.vops.LaCasaDelSazon</string>
	<key>PROJECT_ID</key>
	<string>la-casa-del-sazon</string>
	<key>STORAGE_BUCKET</key>
	<string>la-casa-del-sazon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075336169215:ios:9e6e44f51beb8253e9aeca</string>
</dict>
</plist>
